#featured {
  & img {
    height: 100%;
    object-fit: cover;
  }
    
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
    }

    &:has(.text-lg)::before {
      top: 0;
      background: linear-gradient(
          180deg,
          rgba(2, 6, 23, 0) 0%,
          #020617 100%
        );
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-lg) {
        padding: 12px;
      }

      & h2 {
        margin-top: 8px;
      }
    }
  }
}

#weekly div {
  grid-template-columns: repeat(4, 1fr);
  margin-block: 24px;
    
  & figure {
    position: relative;

    & > figcaption {
      margin-top: 8px;
  
      & .positioned {
        position: absolute;
        top: 8px;
        left: 8px;
      }
    }
  }
}

#others {
  grid-template-columns: 1.45fr 1fr;
  gap: 32px;

  & #others-highlights header {
    margin-bottom: 24px;
  }

  & #others-highlights section {
    gap: 32px;

    & figure {
      display: flex;
      gap: 16px;

      & img {
        max-width: 176px;
      }

      & figcaption span {
        margin-block: 6px 8px;
      }

      & figcaption h2 {
        margin-bottom: 4px;
      }

      & figcaption p {
        color: var(--text-color-secondary);
      }
    }
  }

  & #see-more {
    gap: 32px;

    & #ads {
      position: relative;

      & > img {
        border-radius: 4px;
      }

      & #close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
      }
    }

    & #content {
      display: grid;
      gap: 24px;

      & #articles {
        display: grid;
        gap: 32px;

        & figure {
          display: flex;
          gap: 15px;

          & img {
            max-width: 72px;
          }

          & figcaption span {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
