section header {
  border-top: 1px solid var(--stroke-color);
  padding-top: 12px;
}

#featured {
  & img {
    height: 100%;
    object-fit: cover;
  }
    
  .card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
      );
    }

    &:has(.text-lg)::before {
      top: 0;
      background: linear-gradient(
          180deg,
          rgba(2, 6, 23, 0) 0%,
          #020617 100%
        );
    }

    & figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-lg) {
        padding: 12px;
      }

      & h2 {
        margin-top: 8px;
      }
    }
  }
}

#weekly {
  & header {
    font: var(--text-span);
    color: var(--text-color-secondary);
    justify-content: space-between;

    & a {
      display: flex;
      align-items: center;
      column-gap: 4px;

      &:hover svg path {
        fill: var(--brand-color-light);
        transition: fill 0.3s ease;
      }
    }
  }

  & div {
    grid-template-columns: repeat(4, 1fr);
    margin-block: 24px;
    
    & figure {
      position: relative;
  
      & > figcaption {
        margin-top: 8px;
    
        & .positioned {
          position: absolute;
          top: 8px;
          left: 8px;
        }
      }
    }
  }
}
