.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.flex {
  display: flex;
}

.secondary-header {
  border-top: 1px solid var(--stroke-color);
  padding-top: 12px;
  font: var(--text-span); 
  color: var(--text-color-secondary);
  justify-content: space-between;
}

.link-button {
  align-items: center;
  column-gap: 4px;

  &:hover svg path {
    fill: var(--brand-color-light);
    transition: fill 0.3s ease;
  }
}

.fixed-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.in-2-lines {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.in-4-lines {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--small-text);
}
